<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование данных пользователя</title>
    <link rel="stylesheet" type="text/css" href="resources/style/style.css">
</head>
<body background-color=#2d4d67>
<h1>Редактирование данных пользователя</h1>
<br>
<form th:action="@{/editUser}" th:object="${user}"  method="post">
    <div class="block-user-info">
    <input type="hidden" name="id" th:value="*{id}" />
    <div>
        <label for="firstName">Имя пользователя:</label>
        <div>
            <input type="text" name="firstName" id="firstName" th:value="*{firstName}" placeholder="firstName"/>
        </div>
    </div>
    <div>
        <label for="lastName">Фамилия пользователя:</label>
        <div>
            <input type="text" name="lastName" id="lastName"  th:value="*{lastName}" placeholder="lastName"/>
        </div>
    </div>
    <div>
        <label for="email">E-mail пользователя:</label>
        <div>
            <input type="text" name="email"  id="email" th:value="*{email}" placeholder="email"/>
        </div>
    </div>

    </div>
    <div class="two-button">
        <div class="button-block">
            <input type="submit" class="btn btn-flat btn-round" value="Изменить"/>
        </div>
        <div class="button-block">
            &nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="button-block">
            <input type="button" class="btn btn-flat btn-round" value="Вернуться"
                   onclick="window.location.href='showAllUsers'"/>
        </div>
    </div>

</form>

</body>
</html>