<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <link rel="stylesheet" type="text/css" href="resources/style/style.css">
</head>
<body>
<h1>Список пользователей системы</h1>
<div>
    <table>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>e-mail</th>
            <th>Редактирование</th>
            <th>Удаление</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:utext="${user.firstName}"></td>
            <td th:utext="${user.lastName}"></td>
            <td th:utext="${user.email}"></td>
            <td>
                <form th:action="@{/toEditUser(id=${user.id})}" method="post">
                    <input type="submit" class="btn" value="Изменить"/>
                </form>
            </td>
            <td>
                <form th:action="@{/deleteUser(id=${user.id})}" method="post">
                    <input type="submit" class="btn" value="Удалить"/>
                </form>
        </tr>
    </table>
</div>

<br>
<div>
    <input type="button" class="btn btn-flat btn-round" value="Добавить нового пользователя"
           onclick="window.location.href='addNewUser'"/>
</div>
</body>
</html>